<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Bryce Harper</title>
</head>
<body>
	<nav>
        <ul class="horizontal-list">
            <li class="navBar"><a href="/home">Home</a></li>
       		<li class="navBar"><a href="/utley">Chase Utley</a></li>
       		<li class="navBar"><a href="/trout">Mike Trout</a></li>
        	
        </ul>
    </nav>
	<h1>Bryce Harper</h1>
	<img class="player-image" src="../static/images/harper.jpg", alt="Bryce Harper">
	<p>Bryce Harper was widely seen as the greatest baseball prospect of all time. He had
		a legendary comeup, making the cover of Sports Illustrated by age 16. At the age of
		19, he had burst into the major leagues and instantly began to prove the scouts right.
		His first season, he became an All-Star and took home Rookie of the Year honors. Harper's
		and Trout's careers have been intertwined since their years as prospects, and both have 
		built Hall of Fame worthy resumes.</p>
	<h3>Bryce's Career Highlights</h3>
	<ul class="vertical-list">
		<li>7x All-Star, 2x MVP, 3x Silver Slugger, Rookie of the Year</li>
		<li>Home Run Derby Champion</li>
		<li>His WAR 7 (7 year Peak) is good for 36.2</li>
		<li><a href="https://www.baseball-reference.com/players/h/harpebr03.shtml", target="_blank">
			Bryce's Baseball Reference page
		</a></li>
	</ul>
</body>
</html>