<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Mike Trout</title>
</head>
<body>
	<nav>
        <ul class="horizontal-list">
            <li class="navBar"><a href="/home">Home</a></li>
        	<li class="navBar"><a href="/utley">Chase Utley</a></li>
       		<li class="navBar"><a href="/harper">Bryce Harper</a></li>
        </ul>
    </nav>
	<h1>Mike Trout</h1>
	<img class="player-image" src="../static/images/trout.jpg", alt="Mike Trout">
	<p>Mike Trout has long been one of my favorite players in the game, since his rookie season.
		Ranked as one of the best prospects in the game before his debut, he exploded on the scene.
		He took home Rookie of the Year honors, while finishing 2nd in the MVP race. His work
		since has been nothing short of one of the best careers in baseball history. He is widely
		seen as a top 10 player of all time.
	</p>
	<h3>Mike Trout's Career Highlights</h3>
	<ul class="vertical-list">
		<li class="stats">Rookie of the Year, 3x MVP, 11x All-Star, 9x Silver Slugger</li>
		<li class="stats">Has a WAR 7 (Peak years WAR) of 70.0, good for 6th all time</li>
		<li class="stats">Has finished 2nd for MVP four additional times</li>
		<li class="stats"><a href="https://www.baseball-reference.com/players/t/troutmi01.shtml"
		target="_blank">Mike's Baseball Reference</a></li>
	</ul>
</body>
</html>