<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Chase Utley</title>
</head>
<body>
	<nav>
        <ul class="horizontal-list">
            <li class="navBar"><a href="/home">Home</a></li>
        	<li class="navBar"><a href="/trout">Mike Trout</a></li>
       		<li class="navBar"><a href="/harper">Bryce Harper</a></li>
        </ul>
    </nav>
	<h1>Chase Utley</h1>
	<img class="player-image" src="../static/images/utley.jpg" alt="Chase Utley">
	<p>Chase Utley is my single most favorite player that I have ever seen. He had a remarkable way
		of playing the game, day in and day out. He was tough nosed and above all, was a damn good
		player. Below are some player highlights.
	</p>
	<h3>Chase's Career Highlights</h3>
	<ul class="vertical-list">
		<li class="stats">6x All-Star, 4x Silver Slugger</liclass="stats">
		<li class="stats">His WAR 7 (Peak 7 years) is 49.3 which ranks 9th among Second Basemen</li>
		<li class="stats">Pivotal member of the 2008 Championship winning Philadelphia Phillies</li>
		<li class="stats"><a href="https://www.baseball-reference.com/players/u/utleych01.shtml" target="_blank">
			Chase's Baseball Reference Page</a></li>
	</ul>
</body>
</html>